body {
	width: 100%;
	/*max-width: 1250px;*/
	overflow-x: hidden;
	margin: 0;
}

h1, p, li { font-family: 'Lato', sans-serif; }

p { line-height: 25px; }

a {
	text-decoration: none;
	color: inherit;
}

/* webkit solution */
::-webkit-input-placeholder { 
	text-align:right; 
	opacity: 0.5;
}
/* mozilla solution */
input:-moz-placeholder { 
	text-align:right; 
	opacity: 0.5;
}

*:focus { outline: none; }

.container { width: 100%; }

/*NAV*/

#nav { 
	height: 60px; 
	display: flex;
	justify-content: space-between;
	background-color: #5c8dc6;
	width: 100%;
	margin-bottom: 4px;
}
#nav img {
	width: 180px;
    margin: 10px 50px;
}
.nav-container {
	align-items: center;
	list-style: none;
	margin: 0 50px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end ;
}
.nav-container li {
	margin: 0 30px;
	font-family: 'Arial';
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	max-height: 28px;
}
#mobile-nav-button {
  display: none;
}
.mobile-close { display: none; }
div.ofa,
li.ofa {
	background-color: #fff;
	color: #5c8dc6 !important;
	padding: 5px 10px;
	border-radius: 8px;
	font-size: 14px; 
	font-weight: bold;
	text-transform: uppercase;
}
div.ofa { display: none; }
.arrow { font-size: 75%; }
li.services { text-align: right; }
li.services:hover .dropdown-content {
    display: flex;
    align-items: flex-end;
}
li.services .dropdown-content {
	display: none;
	position: relative;
}
.dropdown-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	/*right: 54px;*/
	padding-top: 40px;
}
.dropdown-content * {
	background-color: #fff;
	color: #5c8dc6;
	margin-bottom: 5px;
	text-align: right;
	width: 140%;
	padding-right: 5px;
}

/*LOGIN*/

#login {
	height: 74px;
	display: flex;	
	flex-direction: row;
	justify-content: flex-end;
	border-bottom: 2px solid #1b4677;
	padding: 20px 0;
	box-sizing: border-box; 
	margin: 0 auto;
	width: 100%;
}
#login .wrangler {
	width: 95%;
	max-width: 1300px;
	margin: 0 auto;
}
#login .login-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
}
.login-container p {
	font-family: 'Arial';
	font-size: 15px;
	color: #1b4677;
	margin-top: 4px;
}
.login-container input {
	width: 155px;
	height: 28px; 
	margin: 0px 5px;
	border: 2px solid #1b4677;
	padding: 0 5px;
}
.login-container img { 
	/*transform: scale(0.75); */
	width: 25px;
    height: 25px;
    margin-top: 3px;
}

/*HOMEPAGE*/

#hero { 
	/*width: 100%; 
	background: url("../img/hero-desktop.jpg") no-repeat center center;
	background-size: cover;*/
	/*padding: 100px 0;
	display: flex;
	justify-content: center;*/
}
.hero-container {
	display: flex;
	justify-content: center;
}
.hero-container img { 
	position: absolute;
	z-index: 100;
	width: 700px;
	margin: 110px auto 0;
	/*background-color: rgba( 0, 0, 0, 0.26 ); */
	/*padding: 10px;*/
}
/*.overlay {
	width: 100%;
	height: 380px;
	position: absolute;
	background-color: rgba( 73, 112, 158, 0.4 );
	z-index: 10;
}*/

#hero { 
	width: 100%;
	/*max-width: 1600px;*/
	height:  380px;
	box-sizing: border-box;
}

/*#hero img { 
	width: 100%;
	display: block;
}
#hero img.mobile-hero { display: none; }*/
#hero .item.one {
	background: url("../img/mtn-1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#hero .item.two {
	background: url("../img/mtn-2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#hero .item.three {
	background: url("../img/mtn-3.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#hero .item {
	height: 380px;
	font-family: 'Lato';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-left: 10%;
}
#hero .item h1 {
	font-size: 50px;
	font-weight: 400;
	color: #fff;
	margin: 0;
}
#hero .item p {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	margin-top: 20px;
	letter-spacing: 2px;
	text-align: left !important;
}
.owl-carousel.owl-loaded { height: 380px; }
.owl-dots {
	position: relative;
	top: -40px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #fff !important;
	/*display: none !important; */
}
.owl-theme .owl-dots .owl-dot span {
	background: rgba( 0, 0, 0, 0.6 ) !important;
	/*display: none !important;*/
}



#hero img.mobile-hero { display: none; }
.content-container {
	width: 95%;
	max-width: 1300px;
	display: block;
	margin: 0 auto 35px auto;
	background: url("../img/globe.png") no-repeat 12% 5%;
	background-size: 454px 285px;
}
#what-we-do {
	background-color: rgba( 0, 0, 0, 0.6 );
	min-height: 350px;
	display: flex;
	border-bottom: 4px solid #fff;
	flex-direction: row;

}
#what-we-do .left {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*padding: 20px 90px;*/
    width: 50%;
    box-sizing: border-box;
}
.no-margin-bottom { margin-bottom: 20px; margin-top: 0; }
/*#what-we-do .left h1 {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 72px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	text-align: left;
	/*margin-bottom: 10px;*/	
	/*color: #fff;*/
/*}*/

#what-we-do .left img {
	width: 330px;
	margin-bottom: 40px;
}

.contact #what-we-do .left img { margin-bottom: 0; }
.flipper .front img {
	width: 340px;
	margin-bottom: 30px;
}
/*#what-we-do .left a {
	text-align: center;
	width: 240px;
	display: block;
	margin: 0 auto;
	font-family: 'Arial';
	font-size: 22px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px; 
	padding: 10px 0 9px 0;
	transition: all 0.15s ease-in-out;
}
#what-we-do .left a:hover {
	background-color: #fff;
	color: rgba( 0, 0, 0, 0.6 );
}*/
#what-we-do .left button.services-btn {
	text-align: center;
	width: 240px;
	display: block;
	margin: 0 auto;
	font-family: 'Arial';
	font-size: 18px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px; 
	padding: 10px 0 9px 0;
	transition: all 0.15s ease-in-out;
	background-color: transparent;
}
#what-we-do .left button.services-btn:hover {
	background-color: #fff;
	color: rgba( 0, 0, 0, 0.6 );
}
hr.mobile { display: none; }
#what-we-do .right {
	width: 50%;
	border-left: 4px solid #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	overflow-y: auto;
	margin-top: 25px;
	/*box-sizing: border-box;*/
    /*padding: 0 20px;*/
}
.spacer-mobile { display: none; }
#what-we-do .right p {
	color: #fff;
	font-family: 'Arial';
	font-size: 16px;
	font-weight: lighter;
	display: block;
	padding: 0 40px;
}
#identity {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	max-width: 1300px;
}
.identity-left {
	background: url("../img/identity-left.jpg") no-repeat center center;
	width: 50%;
	height: 528px;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border-right: 2px solid #fff;
}
#identity .identity-left h1 {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 72px;
	font-weight: 500;
	text-align: center;
	color: #fff;
	margin: 0 0 20px 0;
}
#identity .identity-left button.identity-btn {
	text-align: center;
	width: 240px;
	display: block;
	margin: 0 auto;
	font-family: 'Arial';
	font-size: 18px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px; 
	padding: 10px 0 9px 0;
	transition: all 0.15s ease-in-out;
	background-color: transparent;
}
#identity .identity-left button.identity-btn:hover {
	background-color: #fff;
	color: #1b4677;
}
.identity-right {
	width: 50%;
	height: 528px;
	background: url("../img/identity-right.jpg") no-repeat center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
    box-sizing: border-box;
	border-left: 2px solid #fff;
}
.identity-right p {
	border: 3px solid #fff;
	border-left: none;
	border-right: none; 
	text-align: center;
	padding: 10px 20px;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 24px;
	color: #fff;
}

/*NEWS*/

.news #hero { 
	width: 100%; 
	background: url("../img/hero-news.jpg") no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	height:  380px;
}
.news .content-container {
	background-image: none;
	margin-top: 0;
	/*margin-bottom: 0;*/
}
.juicer-feed h1.referral { display: none !important; }

#footer.news {
	margin-top: 0 !important;
}

/*CONTACT*/

.contact #hero { 
	width: 100%; 
	background: url("../img/hero-contact.jpg") no-repeat center center;
	background-size: cover;
	padding: 90px 0;
}
.contact .hero-container {
	width: 100%;
}
.contact #hero .hero-text-hidden { color: rgba(50, 50, 50, 0); }
#hero h1 {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 68px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	text-align: center;
	color: #fff;
}
.contact .content-container {
	width: 95%;
	max-width: 1300px;
	display: block;
	margin: 0 auto 35px auto;
	background: url("../img/contact.jpg") no-repeat 5% 15%;
	background-size: cover;
}
.contact #what-we-do .left h1 { text-align: center; }
/*.contact #what-we-do .right a { transition: all 0.15s ease-in-out; }*/
.contact #what-we-do .right a:hover { 
	font-weight: bold; 
	/*border-bottom: 1px solid #fff;*/
	text-decoration: underline;
}
.contact #identity h4 {
	font-family: 'Arial';
	font-size: 30px;
	color: #fff;
	text-align: left;
	margin: 0 0 10px 0;
	padding-left: 80px;
}
.contact #what-we-do .right {

}
.contact #identity .identity-left { 
	color: #fff; 
	display: flex;
}
.address {
	display: flex;
	flex-direction: row;
	padding-left: 80px;
}
.address p {
	padding-right: 40px;
	letter-spacing: 2px;
	font-family: 'Arial';
}
.contact #identity .contact-right { 
	width: 780px;
	height: 528px;
	display: flex;
	flex-direction: column;
    margin: 0 auto;
}
#identity .contact-right .contact-heading {
	width: 100%;
	border-bottom: 2px solid #1b4677;
}
#identity .contact-right h1 {
	font-family: 'Arial';
	font-size: 28px;
	font-weight: bold;
	color: #1b4677;
	margin: 0 0 5px 0;
}
.contact #identity .contact-right form {
	display: flex;
	flex-direction: column;
}
.contact #identity .contact-right form .form-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}
.contact #identity .contact-right form .form-line:first-of-type { margin-top: 30px; }
.form-line input {
	width: 520px;
	height: 30px;
	border: 2px solid #1b4677;
	padding-left: 5px;
}
.form-line label {
	font-family: 'Arial';
	font-size: 21px;
	font-weight: bold;
	color: #1b4677; 
}
.form-line textarea {
	width: 519px;
    min-height: 110px;
    border: 2px solid #1b4677;
    padding-left: 5px;
}
.red { color: #ff0000; }

.submit {
	width: 100px;
	background-color: #1b4677;
	color: #fff;
	float: right;
	padding: 8px 10px;
	border: none;
	font-size: 16px;
	align-self: flex-end;
	margin-top: 5px;
	transition: all 0.15s ease-in-out;
}
.submit:hover { background-color: #5c8dc6; }

/*SIGNUP PAGE*/

.signup #hero {
	background: url("../img/mtn-1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    display: flex;
    justify-content: center;
}
.signup #hero img {
	width: 450px;
	align-self: center;
	margin-top: 0;
}

.signup .content-container {
	width: 95%;
	max-width: 1300px;
	display: block;
	margin: 0 auto 35px auto;
	background: url("../img/signup.jpg") no-repeat 5% 40%;
	background-size: cover;
}
#signup-form {
	width: 46%;
	margin: 0 auto;
}
#signup-form form {
	display: flex;
	flex-direction: column;
}
#signup-form form .form-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}
#signup-form .form-line input {
	width: 60%;
	height: 30px;
	border: 2px solid #1b4677;
}
#signup-form .form-line label {
	font-family: 'Arial';
	font-size: 21px;
	font-weight: bold;
	color: #1b4677; 
}
#signup-form .form-line textarea {
	width: 60%;
    min-height: 110px;
    border: 2px solid #1b4677;
}
#signup-form .red { color: #ff0000; }
#signup-form form .form-line.agreement {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 10px 0 5px 0;
}
#signup-form form .form-line.agreement label {
	font-family: 'Arial';
	font-size: 12px;
	font-weight: 100;
	color: #1b4677; 
	padding-top: 8px;
}
#signup-form form .form-line.agreement input { 
	width: initial; 
	margin-top: 0px;
}

#signup-form .contact-heading {
	width: 100%;
	border-bottom: 2px solid #1b4677;
}
#signup-form .contact-heading h1 {
	font-family: 'Arial';
	font-size: 28px;
	font-weight: bold;
	color: #1b4677;
	margin: 0 0 5px 0;
}

#signup-form form .form-line:first-of-type { margin-top: 30px; }

#signup-form .form-line .checkbox-container {
    width: 61%;
    height: 110px;
    overflow-y: auto;
    border: 2px solid #1b4677;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#signup-form .form-line .checkbox-container input {
	width: initial;
	height: 12px;
}
#signup-form .form-line .checkbox-container label { font-size: 10px; }
.checkboxes-left, 
.checkboxes-right { 
	padding: 10px; 
	width: 40%;
}

/*FOOTER*/

#footer {
	width: 100%;
	background-color: #5c8dc6;
	height: 136px;
	margin-top: 40px;
	display: flex;
    flex-direction: column;
}

.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 20px;
	width: 350px; 
}
.icons img {
	width: 50px;
}

#footer .footer-details {
	width: 50%;
	/*font-family: "Arial";*/
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin: 20px auto;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
}
.footer-details img {
	width: 137px;
	height: 14px;
	position: relative;
	top: 3px;
}


/*****TILE FLIP*****/

.tile-flip {
  display: block;/*
  margin: 0 auto;*/
  width: 100%;
  /*max-height: 600px;*/
  height: 528px;
  overflow: hidden;
  /*background: url("../img/identity-left.jpg") no-repeat center center;*/
  cursor: pointer;
  /*max-width: 1300px;
  margin-top: 30px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 34px;
  align-items: center;*/
}

.flip-container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 100%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  /*border: 1px solid #fff;*/
  overflow: hidden;
}

.flip-container .three,
.flip-container .four {
  border-top: none;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/*.flipper:before {
  content: url('images/plus-btn.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}*/

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'HyundaiSansHead-Light';
}

/* front pane, placed above back */
/*.front:before {
  content: url('images/plus-btn.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}*/

.front {
  z-index: 2;
  opacity: 1;
  width: 100%;
  height: 528px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front p {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-size: 38px;
  margin: 0 auto;
  padding: 0 10px;
  color: white;
  text-align: center;
  line-height: 40px;
}

/*.front:hover {
  opacity: 1;
  background-color: rgba(52,195,224,0.8);
}*/

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: transparent;
  width: 100%;
  height: 528px;
  display: flex;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*overflow-y: auto;*/
}

.back p {
  font-family: 'Arial';
  font-size: 16px;
  width: 90%;
  color: #fff;
  text-align: left;
  /*line-height: 22px;*/
  align-self: center;
  vertical-align: middle;
}

























@media only screen and (max-width: 1150px) {

	#nav img { width: 180px; }
	.nav-container li { margin: 0 10px; }
	#what-we-do .left { width: 50%; }
	#what-we-do .left h1 { font-size: 60px; }
	#what-we-do .right {
		padding: 20px;
		margin: 15px 0;
	}
	#what-we-do .right p { 
		font-size: 16px; 
		line-height: 22px;
	}

}
@media only screen and (max-width: 1000px) {
	.nav-container { margin: 0 12px 0 0; }
	.nav-container li { font-size: 18px; }
	#what-we-do .right { padding: 0; }
	#what-we-do .right p { 
		padding: 0 20px; 
		line-height: 20px;
	}
}


@media only screen and (max-width: 800px) {

	/*HOME*/

	#nav { 
		height: 80px; 
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 0 10px;
		width: 100%;
	    box-sizing: border-box;
	}
	.nav-container {
	    position: absolute;
        display: block;
        margin: 0 0px 10px 10px;
        z-index: 1000;
        top: 100px;
        right: 0;
        padding: 0;
        height: 0px;
        background-color: green;
        width: 100%;
        opacity: 1;
        overflow-x: hidden;
	    transition: all 0.25s ease-in;
	    text-align: center;
	    background-color: transparent;
	    
	}
	.nav-container li {
		height: 19%;
		padding-top: 13px; 
		margin: 0 0 5px 0;
		color: #5c8dc6;
		background-color: #fff;
	}
	li.services { text-align: center; }
	#nav img {
	    margin: 0;
	    display: block;
		width: 250px;
	}
	li.ofa {
		border-radius: 0px;
		font-weight: normal;
		text-transform: capitalize;
	}
	div#mobile-nav-button {
	  display: flex;
	  text-align: left;
	  /*padding: 0 0px 20px 20px;*/
	  font-size: 200%;
	  color: #fff;
	}
	.nav-open { 
		height: 195px;
	}
	#nav .logo img { width: 120px; }

	/*div.ofa {
		background-color: #fff;
		padding: 2px 5px;
		font-size: 12px; 
		font-family: 'Arial';
	}*/
	/*div.ofa { display: block; }*/
	/*li.ofa { display: none; }*/
	.dropdown-content { padding-top: 0; }
	.mobile-close { display: block; }
	/*.container { margin-top: -20px; }*/

	#hero h1 { font-size: 50px; }

	#login .login-container { justify-content: center; }
	.login-container input { width: 110px; }

	.content-container { background-position: center 10%; }

	#what-we-do { 
		flex-direction: column; 
		padding-bottom: 30px;
		height: 730px;
	}
	#what-we-do .left, 
	#what-we-do .right { width: 100%; }
	#what-we-do .left { padding: 100px 0 0 0; }
	#what-we-do .left h1 { 
		font-size: 55px; 
		margin-top: 0.83em;
	}
	#what-we-do .left a {
		width: 260px;
		margin-bottom: 20px;
		font-size: 20px;
	}
	hr.mobile {
		display: block;
		width: 280px;
		border: 1.5px solid #fff;
	}
	#what-we-do .right {
		box-sizing: border-box;
		border: none;
		/*border-top: 3px solid #fff;*/
		padding: 20px;
		margin-top: 80px;
	}
	.spacer-mobile {
		display: block;
		width: 100%;
		height: 20px;
	}
	#identity .identity-left button.identity-btn { width: 55%; }
	#what-we-do .right p { 
		margin-top: 0; 
		/*line-height: 23px;*/
	}
	#identity { flex-direction: column; }
	#identity .identity-left	{
		width: 100%;
		margin-bottom: 35px;
		height: 440px;
	}
	#identity .tile-flip,
	#identity .back,
	#identity .front { height: 440px; }
	#identity .identity-left h1 { font-size: 52px; }
	#identity .identity-right {
		width: 100%;
		margin-left: 0;
		height: 440px;
	}
	#identity .identity-right p { font-size: 20px; }

	/*NEWS*/

	.news .hero-text {
		font-size: 50px;
	}

	/*CONTACT*/
	
	.contact .content-container { background-position: 7% top; }
	.contact .left h1 { text-align: center !important; }
	.contact #identity h4 { padding-left: 40px; }
	.address { padding-left: 40px; }
	.contact #identity .contact-right {
		width: 100%;
		margin-left: 0; 
	}
	#identity .contact-right h1 { font-size: 25px; }
	.form-line label { font-size: 18px; }
	.form-line input,
	.form-line textarea { width: 64; }
	
	/*SIGNUP*/

	#signup-form { width: 95%; }
	#signup-form .form-line label { font-size: 16px; }
	.signup .content-container { background-position: 46.75% center; }
	#signup-form form .form-line.agreement input { width: 23px; }
	#signup-form form .form-line.agreement label { text-align: right; }

	/*FOOTER*/

	.icons { width: 80%; }
	#footer { 
		margin-top: 70px; 
	    padding-top: 30px;
	}
	#footer p { width: 80%; }
	#footer .footer-details {
		width: 90%;
		font-size: 13px;
		line-height: 17px;
		margin: 40px auto 20px auto;
	}
}

















@media only screen and (max-width: 750px) {

/*	html { overflow-x: hidden; }

	#nav { 
		height: auto; 
		display: block;
	}
	.nav-container {
	    position: absolute;
        display: block;
        margin: 0 0px 10px 10px;
        z-index: 1000;
        top: 0;
        right: 0;
        padding: 10px 0;
        height: 181px;
        background-color: #cad1d4;
        width: 0px;
        opacity: 1;
        overflow-x: hidden;
	    transition: all 0.25s ease-in;
	}
	.nav-container li {
		height: 19%;
		padding-top: 13px; 
		border-bottom: 1px solid #144053;
	}
	#nav img {
	    margin: 20px auto;
	    display: block;
		width: 250px;
	}
	div#mobile-nav-button {
	  display: block;
	  text-align: left;
	  padding: 0 0px 20px 20px;
	  font-size: 200%;
	}
	.nav-open { width: 360px; }
	
	#hero img.desktop-hero { display: none; }
	#hero img.mobile-hero { display: block; }

	.contact-container { 
		width: 90%; 
		display: block;
		margin: 0 auto;
		padding: 5px 0 0 0;
	}
	.contact-container > h1,
	.contact-container > a p {
		display: block;
		margin: 0 auto;
		text-align: left;
		margin: 0;
		padding-bottom: 10px;
		font-size: 84%;
	} 
	.contact-container i { margin: 0 5px 0 0; }


	h1.heading {
		width: 90%;
	    margin: 20px auto;
	}

	.lawyers-container h1 { 
		margin-left: 0;
		margin-bottom: 0;
		font-size: 26px; 
		max-width: 300px;
	}
	.lawyer,
	.lawyer-details { display: block; }

	#footer { height: 250px; }
	.footer-top,
	.footer-bottom {  }
	.footer-top { 
		margin: 0 auto;
		width: 90%;
	}
	.footer-bottom { 
		display: block;
		width: 90%; 
		margin-top: 40px;
	}
	.footer-bottom p {
		margin: 5px 0;
		font-size: 78%;
		letter-spacing: 1px;
	}*/
}

@media only screen and (max-width: 450px) {
	
}


#signup-form .form-line .checkbox-container::-webkit-scrollbar-thumb {
  background: #1b4677;
  outline: 1px solid slategrey;
  border-radius: 0px;
}


/* width */
#signup-form .form-line .checkbox-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#signup-form .form-line .checkbox-container::-webkit-scrollbar-track {
    background: #fff; 
    border-left: 2px solid #1b4677;
}
 

/* Handle on hover */
/*#signup-form .form-line .checkbox-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}*/

