body {
	width: 100%;
	/*max-width: 1250px;*/
	overflow-x: hidden;
	margin: 0;
}

h1, p, li {
	font-family: 'Lato', sans-serif;
}

p { line-height: 25px; }

a {
	text-decoration: none;
	color: inherit;
}

/* webkit solution */
::-webkit-input-placeholder { 
	text-align:right; 
	opacity: 0.5;
}
/* mozilla solution */
input:-moz-placeholder { 
	text-align:right; 
	opacity: 0.5;
}

.container { width: 100%; }

/*NAV*/

#nav { 
	height: 75px; 
	display: flex;
	justify-content: space-between;
	background-color: #5c8dc6;
	width: 100%;
	margin-bottom: 10px;
}
#nav img {
	width: 200px;
    margin: 15px 50px;
}
.nav-container {
	align-items: center;
	list-style: none;
	margin: 0 50px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end ;
}
.nav-container li {
	margin: 0 30px;
	font-family: 'Arial';
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	max-height: 28px;
}
#mobile-nav-button {
  display: none;
}
.mobile-close { display: none; }
div.ofa,
li.ofa {
	background-color: #fff;
	color: #5c8dc6 !important;
	padding: 5px 10px;
	border-radius: 8px;
	font-size: 18px; 
	font-weight: bold;
	text-transform: uppercase;
}
div.ofa { display: none; }
.arrow { font-size: 75%; }
li.services { text-align: right; }
li.services:hover .dropdown-content {
    display: flex;
    align-items: flex-end;
}
li.services .dropdown-content {
	display: none;
	position: relative;
}
.dropdown-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	/*right: 54px;*/
	padding-top: 40px;
}
.dropdown-content * {
	background-color: #fff;
	color: #5c8dc6;
	margin-bottom: 5px;
	text-align: right;
	width: 140%;
	padding-right: 5px;
}

/*LOGIN*/

#login {
	height: 74px;
	display: flex;	
	flex-direction: row;
	justify-content: flex-end;
	border-bottom: 2px solid #1b4677;
	padding: 20px 0;
	box-sizing: border-box; 
	margin: 0 auto;
	width: 100%;
}
#login .wrangler {
	width: 95%;
	max-width: 1300px;
	margin: 0 auto;
}
#login .login-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
}
.login-container p {
	font-family: 'Arial';
	font-size: 15px;
	color: #1b4677;
	margin-top: 8px;
}
.login-container input {
	width: 155px;
	height: 28px; 
	margin: 0px 5px;
	border: 2px solid #1b4677;
	padding: 0 5px;
}
.login-container img { 
	transform: scale(0.75); 
	width: 30px;
    height: 30px;
    margin-top: 1px;
}

/*HOMEPAGE*/

#hero { 
	width: 100%; 
	background: url("../img/hero-desktop.jpg") no-repeat center center;
	background-size: cover;
	padding: 90px 0;
}
#hero img { 
	width: 100%;
	display: block;
}
#hero img.mobile-hero { display: none; }
.content-container {
	width: 95%;
	max-width: 1300px;
	display: block;
	margin: 0 auto 35px auto;
	background: url("../img/globe.png") no-repeat 5% center;
	background-size: 454px 285px;
}
#what-we-do {
	background-color: rgba( 0, 0, 0, 0.6 );
	min-height: 350px;
	display: flex;
}
#what-we-do .left {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 90px;
    width: 50%;
    box-sizing: border-box;
}
.no-margin-bottom { margin-bottom: 20px; margin-top: 0; }
#what-we-do .left h1 {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 72px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	text-align: left;
	/*margin-bottom: 10px;*/	
	color: #fff;
}
#what-we-do .left a {
	text-align: center;
	width: 60%;
	display: block;
	margin: 0 auto;
	font-family: 'Arial';
	font-size: 22px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px; 
	padding: 8px 0 7px 0;
	transition: all 0.15s ease-in-out;
}
#what-we-do .left a:hover {
	background-color: #fff;
	color: rgba( 0, 0, 0, 0.6 );
}
hr.mobile { display: none; }
#what-we-do .right {
	width: 50%;
	border-left: 3px solid #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 280px;
	margin-top: 30px;
    padding: 0 70px;
}
.spacer-mobile { display: none; }
#what-we-do .right p {
	color: #fff;
	font-family: 'Arial';
	font-size: 18px;
	font-weight: lighter;
	display: block;
}
#identity {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: 0 auto;
	max-width: 1300px;
}
.identity-left {
	background: url("../img/identity-left.jpg") no-repeat center center;
	width: 48%;
	height: 528px;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#identity .identity-left h1 {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 72px;
	font-weight: 500;
	text-align: center;
	color: #fff;
	margin: 0 0 20px 0;
}
#identity .identity-left button.identity-btn {
	text-align: center;
	width: 40%;
	display: block;
	margin: 0 auto;
	font-family: 'Arial';
	font-size: 22px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px; 
	padding: 8px 0 7px 0;
	transition: all 0.15s ease-in-out;
	background-color: transparent;
}
#identity .identity-left button.identity-btn:hover {
	background-color: #fff;
	color: #1b4677;
}
.identity-right {
	width: 48%;
	height: 528px;
	background: url("../img/identity-right.jpg") no-repeat center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-left: 52px;
}
.identity-right p {
	border: 3px solid #fff;
	border-left: none;
	border-right: none; 
	text-align: center;
	padding: 10px 20px;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 24px;
	color: #fff;
}

/*NEWS*/

.news #hero { 
	width: 100%; 
	background: url("../img/hero-news.jpg") no-repeat center center;
	background-size: cover;
	padding: 90px 0;
}
.news .content-container {
	background-image: none;
	margin-top: 0;
}
.juicer-feed h1.referral { display: none !important; }

/*CONTACT*/

.contact #hero { 
	width: 100%; 
	background: url("../img/hero-contact.jpg") no-repeat center center;
	background-size: cover;
	padding: 90px 0;
}
.contact #hero .hero-text-hidden { color: rgba(50, 50, 50, 0); }
#hero h1 {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 72px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	text-align: center;
	color: #fff;
}
.contact .content-container {
	width: 95%;
	max-width: 1300px;
	display: block;
	margin: 0 auto 35px auto;
	background: url("../img/contact.jpg") no-repeat 5% center;
	background-size: cover;
}
.contact #what-we-do .left h1 { text-align: center; }
.contact #identity h4 {
	font-family: 'Arial';
	font-size: 30px;
	color: #fff;
	text-align: left;
	margin: 0 0 10px 0;
	padding-left: 80px;
}
.contact #identity .identity-left { 
	color: #fff; 
	display: flex;
}
.address {
	display: flex;
	flex-direction: row;
	padding-left: 80px;
}
.address p {
	padding-right: 40px;
	letter-spacing: 2px;
	font-family: 'Arial';
}
.contact #identity .contact-right { 
	width: 48%;
	height: 528px;
	display: flex;
	flex-direction: column;
    margin-left: 52px;
}
#identity .contact-right .contact-heading {
	width: 100%;
	border-bottom: 2px solid #1b4677;
}
#identity .contact-right h1 {
	font-family: 'Arial';
	font-size: 33px;
	font-weight: bold;
	color: #1b4677;
	margin: 0 0 5px 0;
}
.contact #identity .contact-right form {
	display: flex;
	flex-direction: column;
}
.contact #identity .contact-right form .form-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}
.contact #identity .contact-right form .form-line:first-of-type { margin-top: 30px; }
.form-line input {
	width: 60%;
	height: 30px;
	border: 2px solid #1b4677;
}
.form-line label {
	font-family: 'Arial';
	font-size: 21px;
	font-weight: bold;
	color: #1b4677; 
}
.form-line textarea {
	width: 60%;
    min-height: 110px;
    border: 2px solid #1b4677;
}
.red { color: #ff0000; }

/*SIGNUP PAGE*/

.signup .content-container {
	width: 95%;
	max-width: 1300px;
	display: block;
	margin: 0 auto 35px auto;
	background: url("../img/signup.jpg") no-repeat 5% center;
	background-size: cover;
}
#signup-form {
	width: 46%;
	margin: 0 auto;
}
#signup-form form {
	display: flex;
	flex-direction: column;
}
#signup-form form .form-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}
#signup-form .form-line input {
	width: 60%;
	height: 30px;
	border: 2px solid #1b4677;
}
#signup-form .form-line label {
	font-family: 'Arial';
	font-size: 21px;
	font-weight: bold;
	color: #1b4677; 
}
#signup-form .form-line textarea {
	width: 60%;
    min-height: 110px;
    border: 2px solid #1b4677;
}
#signup-form .red { color: #ff0000; }
#signup-form form .form-line.agreement {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 0 5px 0;
}
#signup-form form .form-line.agreement label {
	font-family: 'Arial';
	font-size: 16px;
	font-weight: 100;
	color: #1b4677; 
	padding-top: 8px;
}
#signup-form form .form-line.agreement input { width: initial; }

/*FOOTER*/

#footer {
	width: 100%;
	background-color: #5c8dc6;
	height: 136px;
	margin-top: 80px;
	display: flex;
    flex-direction: column;
}

.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 20px;
	width: 30%; 
}
.icons img {
	width: 50px;
}

#footer .footer-details {
	width: 50%;
	font-family: "Arial";
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin: 20px auto;
}
.footer-details img {
	width: 137px;
	height: 14px;
	position: relative;
	top: 3px;
}




/*#contact { background-color: #cad1d4;}
.contact-container {
	background-color: #cad1d4;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #144053;
	padding: 0 80px;
	width: 60%;
}
.contact-container h1 { 
	font-size: 25px; 
	font-weight: 100;
}
.contact-container p {
	font-size: 19px;
	font-weight: 100;
	padding-top: 4px;
}
.contact-container i { margin: 0px 5px;}

h1.heading {
	font-size: 25px; 
	font-weight: 100;
	margin-left: 80px;
}
.lawyers-container {
	width: 90%;
	display: block;
	margin: 0 auto;
}
.lawyers-container h1 {
    margin: 20px 5px;
	font-size: 42px;
	font-weight: 700;
	color: #144053;
}
.lawyer	{ 
	display: flex;
	justify-content: space-between;
}
.lawyer-details {
    width: 39%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-top: 20px;
}
.lawyer-details p { margin: 15px; }
span.letter { color: #abb5b9; }
.lawyers-container hr { color: #cad1d4; }
.lawyer.last { margin-bottom: 60px; }

#footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 30px 0px 20px 0px;
	height: 130px;
	background-color: #144053;
	color: #fff;
}
.footer-top {
	display: flex;
	justify-content: space-between;
    width: 1100px;
    margin: 0 auto 20px;
}
.footer-top h1 { font-size: 20px; }
.footer-top p { 
	font-size: 16px;
	font-weight: 100; 
	letter-spacing: 1px;
}
.footer-top p.mobile { display: none; }

.footer-bottom	{
	display: flex;
	justify-content: space-between;
	width: 1100px;
	margin: 0 auto;

}
.footer-bottom p { 
	font-size: 14px;
	font-weight: 200;

}*/




























@media only screen and (max-width: 1150px) {

	#nav img { width: 250px; }
	.nav-container li { margin: 0 10px; }
	#what-we-do .left { width: 50%; }
	#what-we-do .left h1 { font-size: 60px; }
	#what-we-do .right {
		padding: 20px;
		margin: 15px 0;
	}
	#what-we-do .right p { font-size: 16px; }

}
@media only screen and (max-width: 1000px) {
	.nav-container { margin: 70px 12px 0 0; }
	.nav-container li { font-size: 18px; }
}


@media only screen and (max-width: 800px) {

	/*HOME*/

	#nav { 
		height: 100px; 
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 0 10px;
		width: 100%;
	    box-sizing: border-box;
	}
	.nav-container {
	    position: absolute;
        display: block;
        margin: 0 0px 10px 10px;
        z-index: 1000;
        top: 100px;
        right: 0;
        padding: 0;
        height: 0px;
        background-color: green;
        width: 100%;
        opacity: 1;
        overflow-x: hidden;
	    transition: all 0.25s ease-in;
	    text-align: center;
	    background-color: transparent;
	    
	}
	.nav-container li {
		height: 19%;
		padding-top: 13px; 
		margin: 0 0 5px 0;
		color: #5c8dc6;
		background-color: #fff;
	}
	li.services { text-align: center; }
	#nav img {
	    margin: 0;
	    display: block;
		width: 250px;
	}
	li.ofa {
		border-radius: 0px;
		font-weight: normal;
		text-transform: capitalize;
	}
	div#mobile-nav-button {
	  display: flex;
	  text-align: left;
	  /*padding: 0 0px 20px 20px;*/
	  font-size: 200%;
	  color: #fff;
	}
	.nav-open { 
		height: 195px;
	}
	#nav .logo img { width: 120px; }

	/*div.ofa {
		background-color: #fff;
		padding: 2px 5px;
		font-size: 12px; 
		font-family: 'Arial';
	}*/
	/*div.ofa { display: block; }*/
	/*li.ofa { display: none; }*/
	.dropdown-content { padding-top: 0; }
	.mobile-close { display: block; }
	/*.container { margin-top: -20px; }*/

	#hero h1 { font-size: 50px; }

	#login .login-container { justify-content: center; }

	.content-container { background-position: center 10%; }

	#what-we-do { 
		flex-direction: column; 
		padding-bottom: 30px;
		height: 730px;
	}
	#what-we-do .left, 
	#what-we-do .right { width: 100%; }
	#what-we-do .left { padding: 100px 0 0 0; }
	#what-we-do .left h1 { 
		font-size: 55px; 
		margin-top: 0.83em;
	}
	#what-we-do .left a {
		width: 260px;
		margin-bottom: 20px;
		font-size: 20px;
	}
	hr.mobile {
		display: block;
		width: 280px;
		border: 1.5px solid #fff;
	}
	#what-we-do .right {
		box-sizing: border-box;
		border: none;
		/*border-top: 3px solid #fff;*/
		padding: 20px;
		margin-top: 80px;
	}
	.spacer-mobile {
		display: block;
		width: 100%;
		height: 20px;
	}
	#identity .identity-left button.identity-btn { width: 55%; }
	#what-we-do .right p { 
		margin-top: 0; 
		/*line-height: 23px;*/
	}
	#identity { flex-direction: column; }
	#identity .identity-left	{
		width: 100%;
		margin-bottom: 35px;
		height: 440px;
	}
	#identity .tile-flip,
	#identity .back,
	#identity .front { height: 440px; }
	#identity .identity-left h1 { font-size: 52px; }
	#identity .identity-right {
		width: 100%;
		margin-left: 0;
		height: 440px;
	}
	#identity .identity-right p { font-size: 20px; }

	/*NEWS*/

	.news .hero-text {
		font-size: 50px;
	}

	/*CONTACT*/
	
	.contact .content-container { background-position: 35% top; }
	.contact .left h1 { text-align: center !important; }
	.contact #identity h4 { padding-left: 40px; }
	.address { padding-left: 40px; }
	.contact #identity .contact-right {
		width: 100%;
		margin-left: 0; 
	}
	#identity .contact-right h1 { font-size: 25px; }
	.form-line label { font-size: 18px; }
	.form-line input,
	.form-line textarea { width: 64; }
	
	/*SIGNUP*/

	#signup-form { width: 95%; }
	#signup-form .form-line label { font-size: 16px; }
	.signup .content-container { background-position: 46.75% center; }
	#signup-form form .form-line.agreement input { width: 23px; }
	#signup-form form .form-line.agreement label { text-align: right; }

	/*FOOTER*/

	.icons { width: 80%; }
	#footer { 
		margin-top: 70px; 
	    padding-top: 30px;
	}
	#footer p { width: 80%; }
	#footer .footer-details {
		width: 90%;
		font-size: 13px;
		line-height: 17px;
		margin: 40px auto 20px auto;
	}
}

















@media only screen and (max-width: 750px) {

/*	html { overflow-x: hidden; }

	#nav { 
		height: auto; 
		display: block;
	}
	.nav-container {
	    position: absolute;
        display: block;
        margin: 0 0px 10px 10px;
        z-index: 1000;
        top: 0;
        right: 0;
        padding: 10px 0;
        height: 181px;
        background-color: #cad1d4;
        width: 0px;
        opacity: 1;
        overflow-x: hidden;
	    transition: all 0.25s ease-in;
	}
	.nav-container li {
		height: 19%;
		padding-top: 13px; 
		border-bottom: 1px solid #144053;
	}
	#nav img {
	    margin: 20px auto;
	    display: block;
		width: 250px;
	}
	div#mobile-nav-button {
	  display: block;
	  text-align: left;
	  padding: 0 0px 20px 20px;
	  font-size: 200%;
	}
	.nav-open { width: 360px; }
	
	#hero img.desktop-hero { display: none; }
	#hero img.mobile-hero { display: block; }

	.contact-container { 
		width: 90%; 
		display: block;
		margin: 0 auto;
		padding: 5px 0 0 0;
	}
	.contact-container > h1,
	.contact-container > a p {
		display: block;
		margin: 0 auto;
		text-align: left;
		margin: 0;
		padding-bottom: 10px;
		font-size: 84%;
	} 
	.contact-container i { margin: 0 5px 0 0; }


	h1.heading {
		width: 90%;
	    margin: 20px auto;
	}

	.lawyers-container h1 { 
		margin-left: 0;
		margin-bottom: 0;
		font-size: 26px; 
		max-width: 300px;
	}
	.lawyer,
	.lawyer-details { display: block; }

	#footer { height: 250px; }
	.footer-top,
	.footer-bottom {  }
	.footer-top { 
		margin: 0 auto;
		width: 90%;
	}
	.footer-bottom { 
		display: block;
		width: 90%; 
		margin-top: 40px;
	}
	.footer-bottom p {
		margin: 5px 0;
		font-size: 78%;
		letter-spacing: 1px;
	}*/
}

@media only screen and (max-width: 450px) {
	
}





