.tile-flip {
  display: block;/*
  margin: 0 auto;*/
  width: 100%;
  /*max-height: 600px;*/
  height: 528px;
  overflow: hidden;
  /*background: url("../img/identity-left.jpg") no-repeat center center;*/
  cursor: pointer;
  /*max-width: 1300px;
  margin-top: 30px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 34px;
  align-items: center;*/
}

.flip-container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 100%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  border: 1px solid #fff;
  overflow: hidden;
}

.flip-container .three,
.flip-container .four {
  border-top: none;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/*.flipper:before {
  content: url('images/plus-btn.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}*/

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'HyundaiSansHead-Light';
}

/* front pane, placed above back */
/*.front:before {
  content: url('images/plus-btn.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}*/

.front {
  z-index: 2;
  opacity: 1;
  width: 100%;
  height: 528px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front p {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-size: 38px;
  margin: 0 auto;
  padding: 0 10px;
  color: white;
  text-align: center;
  line-height: 40px;
}

/*.front:hover {
  opacity: 1;
  background-color: rgba(52,195,224,0.8);
}*/

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: transparent;
  width: 100%;
  height: 528px;
  display: flex;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*overflow-y: auto;*/
}

.back p {
  font-family: 'Arial';
  font-size: 18px;
  width: 90%;
  color: #fff;
  text-align: left;
  /*line-height: 22px;*/
  align-self: center;
  vertical-align: middle;
}
